<a href="https://www.kaggle.com/code/mmellinger66/store-sales-course-base-model?scriptVersionId=105572719" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

# Store Sales EDA

Finished the [Kaggle Time Series Course](https://www.kaggle.com/learn/time-series). 

I extracted the forecasting model from the course into this notebook.  The LB score is exactly the same.  This notebook is only meant to serve as a succinct reference.

# References

- [Store Sales: Seasonality](https://www.kaggle.com/mmellinger66/store-sales-seasonality)
- https://www.kaggle.com/code/robikscube/time-series-forecasting-with-machine-learning-yt
- https://www.kaggle.com/code/robikscube/pt2-time-series-forecasting-with-xgboost
- https://www.kaggle.com/code/hiro5299834/store-sales-ridge-voting-bagging-et-bagging-rf

# Next Steps

## EDAs

- [First kaggle notebook. Following TS tutorial](https://www.kaggle.com/howoojang/first-kaggle-notebook-following-ts-tutorial)

## Models

- [Simple LB 0.43911 (Lasso, Ridge, NN)](https://www.kaggle.com/avtobusbratiev/simple-lb-0-43911-lasso-ridge-nn)
- [Simple TS + Ridge](https://www.kaggle.com/dkomyagin/simple-ts-ridge)

# Load Libraries

In [1]:
from pathlib import Path

import pandas as pd
import numpy as np

from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from statsmodels.tsa.deterministic import CalendarFourier, DeterministicProcess

# Visualization Libraries
import matplotlib.pyplot as plt
import seaborn as sns

color_pal = sns.color_palette()
plt.style.use('fivethirtyeight')

plt.rcParams["figure.figsize"] = (12, 8) # Default figure size

In [2]:
comp_dir = Path('../input/store-sales-time-series-forecasting')

# Load Train/Test Store Sales

In [3]:
store_sales = pd.read_csv(
    comp_dir / 'train.csv',
    usecols=['store_nbr', 'family', 'date', 'sales'],
    dtype={
        'store_nbr': 'category',
        'family': 'category',
        'sales': 'float32',
    },
    parse_dates=['date'],
    infer_datetime_format=True,
)
store_sales['date'] = store_sales.date.dt.to_period('D')
store_sales = store_sales.set_index(['store_nbr', 'family', 'date']).sort_index()


df_test = pd.read_csv(
    comp_dir / 'test.csv',
    dtype={
        'store_nbr': 'category',
        'family': 'category',
        'onpromotion': 'uint32',
    },
    parse_dates=['date'],
    infer_datetime_format=True,
)
df_test['date'] = df_test.date.dt.to_period('D')
df_test = df_test.set_index(['store_nbr', 'family', 'date']).sort_index()

# EDA

In [4]:
store_sales

                                     sales
store_nbr family     date
1         AUTOMOTIVE 2013-01-01   0.000000
                     2013-01-02   2.000000
                     2013-01-03   3.000000
                     2013-01-04   3.000000
                     2013-01-05   5.000000
...                                    ...
9         SEAFOOD    2017-08-11  23.830999
                     2017-08-12  16.859001
                     2017-08-13  20.000000
                     2017-08-14  17.000000
                     2017-08-15  16.000000

[3000888 rows x 1 columns]

We have reduced the dataframe to one column, the `sales`.

In [5]:
store_sales.columns

Index(['sales'], dtype='object')

The index of store_sales is a composite key

In [6]:
store_sales.index[:3]

MultiIndex([('1', 'AUTOMOTIVE', '2013-01-01'),
            ('1', 'AUTOMOTIVE', '2013-01-02'),
            ('1', 'AUTOMOTIVE', '2013-01-03')],
           names=['store_nbr', 'family', 'date'])

In [7]:
store_sales.index.names

FrozenList(['store_nbr', 'family', 'date'])

# Target

In [8]:
y = store_sales.unstack(['store_nbr', 'family']).loc["2017"]
display(y[:3])
display(y.shape)

                sales                                                \
store_nbr           1
family     AUTOMOTIVE BABY CARE BEAUTY BEVERAGES BOOKS BREAD/BAKERY
date
2017-01-01        0.0       0.0    0.0       0.0   0.0     0.000000
2017-01-02        5.0       0.0    0.0    1434.0   0.0   166.819000
2017-01-03        4.0       0.0    4.0    3081.0   2.0   519.348022

                                                     ...            \
store_nbr                                            ...         9
family     CELEBRATION CLEANING   DAIRY        DELI  ... MAGAZINES
date                                                 ...
2017-01-01         0.0      0.0     0.0    0.000000  ...       0.0
2017-01-02         0.0    332.0   376.0   44.980000  ...       5.0
2017-01-03        15.0    952.0  1045.0  209.300003  ...       2.0

                                                                           \
store_nbr
family           MEATS PERSONAL CARE PET SUPPLIES PLAYERS AND ELECTRONICS
date
2017-01-01    0.000000           0.0          0.0                     0.0
2017-01-02  659.570007        1243.0         11.0                    41.0
2017-01-03  547.364014         876.0          6.0                    15.0

                                                                               \
store_nbr
family         POULTRY PREPARED FOODS      PRODUCE SCHOOL AND OFFICE SUPPLIES
date
2017-01-01    0.000000       0.000000     0.000000                        0.0
2017-01-02  843.596008     115.188995  3136.895996                        1.0
2017-01-03  714.659973     133.039001  3229.558105                        1.0


store_nbr
family     SEAFOOD
date
2017-01-01     0.0
2017-01-02    23.0
2017-01-03    14.0

[3 rows x 1782 columns]

(227, 1782)

# Create training data

In [9]:
fourier = CalendarFourier(freq='M', order=4)

dp = DeterministicProcess(
    index=y.index,
    constant=True,
    order=1,
    seasonal=True,
    additional_terms=[fourier],
    drop=True,
)

X = dp.in_sample()
X['NewYear'] = (X.index.dayofyear == 1) # Set Jan 1 to be True

In [10]:
display(X[:3])
print(f"X.shape={X.shape}")

,const,trend,"s(2,7)","s(3,7)","s(4,7)","s(5,7)","s(6,7)","s(7,7)","sin(1,freq=M)","cos(1,freq=M)","sin(2,freq=M)","cos(2,freq=M)","sin(3,freq=M)","cos(3,freq=M)","sin(4,freq=M)","cos(4,freq=M)",NewYear
date,,,,,,,,,,,,,,,,,
2017-01-01,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,True
2017-01-02,1.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.201299,0.979530,0.394356,0.918958,0.571268,0.820763,0.724793,0.688967,False
2017-01-03,1.0,3.0,0.0,1.0,0.0,0.0,0.0,0.0,0.394356,0.918958,0.724793,0.688967,0.937752,0.347305,0.998717,-0.050649,False

X.shape=(227, 17)

# Linear Regression Model

In [11]:
# Simply using Ridge will improve the score

model = Ridge(fit_intercept=True, solver='auto', alpha=0.5, normalize=True)
# model = LinearRegression(fit_intercept=False)
model.fit(X, y)
y_pred = pd.DataFrame(model.predict(X), index=X.index, columns=y.columns)

In [12]:
y_pred.head(3)

                sales                                                          \
store_nbr           1
family     AUTOMOTIVE BABY CARE    BEAUTY    BEVERAGES     BOOKS BREAD/BAKERY
date
2017-01-01   1.147156       0.0  1.006750   650.711114  0.207317   113.487636
2017-01-02   4.012898       0.0  3.466052  2296.270421  0.573187   401.896876
2017-01-03   3.933510       0.0  3.537022  2376.162414  0.804131   396.600131

                                                            ...            \
store_nbr                                                   ...         9
family     CELEBRATION    CLEANING       DAIRY        DELI  ... MAGAZINES
date                                                        ...
2017-01-01    3.794296  199.501107  227.196277   41.783909  ...  1.411856
2017-01-02   12.908956  690.676207  781.062022  147.193476  ...  3.447104
2017-01-03   14.420038  779.965203  784.468982  143.758748  ...  2.970190

                                                                           \
store_nbr
family           MEATS PERSONAL CARE PET SUPPLIES PLAYERS AND ELECTRONICS
date
2017-01-01  162.398834    233.412868     3.245875                5.968915
2017-01-02  478.056978    700.676731     9.013801               16.997233
2017-01-03  454.960729    671.651455     8.149008               16.143299

                                                                               \
store_nbr
family         POULTRY PREPARED FOODS      PRODUCE SCHOOL AND OFFICE SUPPLIES
date
2017-01-01  190.850655      48.762323   685.072869                  -0.642251
2017-01-02  544.459826     130.303397  1911.404746                   0.468305
2017-01-03  518.954810     128.537361  2461.255835                   5.439751


store_nbr
family        SEAFOOD
date
2017-01-01   6.851256
2017-01-02  18.593730
2017-01-03  18.248528

[3 rows x 1782 columns]

# Create features for test set

In [13]:
X_test = dp.out_of_sample(steps=16)

X_test.index.name = 'date'
X_test['NewYear'] = (X_test.index.dayofyear == 1)

# Submission File

In [14]:
y_submit = pd.DataFrame(model.predict(X_test), index=X_test.index, columns=y.columns)

y_submit.columns[:5]

MultiIndex([('sales', '1', 'AUTOMOTIVE'),
            ('sales', '1',  'BABY CARE'),
            ('sales', '1',     'BEAUTY'),
            ('sales', '1',  'BEVERAGES'),
            ('sales', '1',      'BOOKS')],
           names=[None, 'store_nbr', 'family'])

In [15]:
y_submit = y_submit.stack(['store_nbr', 'family'])
y_submit = y_submit.join(df_test.id).reindex(columns=['id', 'sales'])
y_submit.to_csv('submission.csv', index=False)
y_submit

                                                      id        sales
date       store_nbr family
2017-08-16 1         AUTOMOTIVE                  3000888     4.047986
                     BABY CARE                   3000889     0.000000
                     BEAUTY                      3000890     3.334732
                     BEVERAGES                   3000891  2265.860059
                     BOOKS                       3000892     0.448142
...                                                  ...          ...
2017-08-31 9         POULTRY                     3029395   404.219418
                     PREPARED FOODS              3029396   114.523504
                     PRODUCE                     3029397  1445.600089
                     SCHOOL AND OFFICE SUPPLIES  3029398    34.897744
                     SEAFOOD                     3029399    18.739132

[28512 rows x 2 columns]