# Store Sales EDA

Finished the [Kaggle Time Series Course](https://www.kaggle.com/learn/time-series). 

I extracted the forecasting model from the course into this notebook.  The LB score is exactly the same.  This notebook is only meant to serve as a succinct reference.

# References

- [Store Sales: Seasonality](https://www.kaggle.com/mmellinger66/store-sales-seasonality)

# Next Steps

## EDAs

- [First kaggle notebook. Following TS tutorial](https://www.kaggle.com/howoojang/first-kaggle-notebook-following-ts-tutorial)

## Models

- [Simple LB 0.43911 (Lasso, Ridge, NN)](https://www.kaggle.com/avtobusbratiev/simple-lb-0-43911-lasso-ridge-nn)
- [Simple TS + Ridge](https://www.kaggle.com/dkomyagin/simple-ts-ridge)

# Load Libraries

In [1]:
from pathlib import Path

import pandas as pd
import numpy as np

from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from statsmodels.tsa.deterministic import CalendarFourier, DeterministicProcess

In [2]:
comp_dir = Path('../input/store-sales-time-series-forecasting')

# Load Train/Test Store Sales

In [3]:
store_sales = pd.read_csv(
    comp_dir / 'train.csv',
    usecols=['store_nbr', 'family', 'date', 'sales'],
    dtype={
        'store_nbr': 'category',
        'family': 'category',
        'sales': 'float32',
    },
    parse_dates=['date'],
    infer_datetime_format=True,
)
store_sales['date'] = store_sales.date.dt.to_period('D')
store_sales = store_sales.set_index(['store_nbr', 'family', 'date']).sort_index()


df_test = pd.read_csv(
    comp_dir / 'test.csv',
    dtype={
        'store_nbr': 'category',
        'family': 'category',
        'onpromotion': 'uint32',
    },
    parse_dates=['date'],
    infer_datetime_format=True,
)
df_test['date'] = df_test.date.dt.to_period('D')
df_test = df_test.set_index(['store_nbr', 'family', 'date']).sort_index()

In [4]:
store_sales

                                     sales
store_nbr family     date
1         AUTOMOTIVE 2013-01-01   0.000000
                     2013-01-02   2.000000
                     2013-01-03   3.000000
                     2013-01-04   3.000000
                     2013-01-05   5.000000
...                                    ...
9         SEAFOOD    2017-08-11  23.830999
                     2017-08-12  16.859001
                     2017-08-13  20.000000
                     2017-08-14  17.000000
                     2017-08-15  16.000000

[3000888 rows x 1 columns]

# Target

In [5]:
y = store_sales.unstack(['store_nbr', 'family']).loc["2017"]
y

                sales                                                \
store_nbr           1
family     AUTOMOTIVE BABY CARE BEAUTY BEVERAGES BOOKS BREAD/BAKERY
date
2017-01-01        0.0       0.0    0.0       0.0   0.0     0.000000
2017-01-02        5.0       0.0    0.0    1434.0   0.0   166.819000
2017-01-03        4.0       0.0    4.0    3081.0   2.0   519.348022
2017-01-04        1.0       0.0    4.0    3039.0   2.0   543.250977
2017-01-05        2.0       0.0    3.0    2617.0   0.0   533.479980
...               ...       ...    ...       ...   ...          ...
2017-08-11        1.0       0.0    1.0    1006.0   0.0   145.606995
2017-08-12        6.0       0.0    3.0    1659.0   0.0   243.220001
2017-08-13        1.0       0.0    1.0     803.0   0.0   136.679001
2017-08-14        1.0       0.0    6.0    2201.0   0.0   346.037994
2017-08-15        4.0       0.0    4.0    1942.0   0.0   329.541016

                                                     ...            \
store_nbr                                            ...         9
family     CELEBRATION CLEANING   DAIRY        DELI  ... MAGAZINES
date                                                 ...
2017-01-01         0.0      0.0     0.0    0.000000  ...       0.0
2017-01-02         0.0    332.0   376.0   44.980000  ...       5.0
2017-01-03        15.0    952.0  1045.0  209.300003  ...       2.0
2017-01-04        17.0   1055.0  1029.0  135.944000  ...       3.0
2017-01-05        40.0    918.0   853.0  137.005997  ...       2.0
...                ...      ...     ...         ...  ...       ...
2017-08-11         4.0    341.0   343.0   64.302002  ...       5.0
2017-08-12         3.0    351.0   526.0   99.487999  ...       2.0
2017-08-13         1.0    169.0   266.0   47.770000  ...       3.0
2017-08-14         4.0    571.0   699.0  154.578003  ...      12.0
2017-08-15        21.0    703.0   602.0  116.402000  ...      11.0

                                                                           \
store_nbr
family           MEATS PERSONAL CARE PET SUPPLIES PLAYERS AND ELECTRONICS
date
2017-01-01    0.000000           0.0          0.0                     0.0
2017-01-02  659.570007        1243.0         11.0                    41.0
2017-01-03  547.364014         876.0          6.0                    15.0
2017-01-04  395.287994         677.0          6.0                    13.0
2017-01-05  470.768005         604.0          7.0                    10.0
...                ...           ...          ...                     ...
2017-08-11  309.244995         373.0         11.0                     2.0
2017-08-12  260.298004         400.0          7.0                    10.0
2017-08-13  327.205994         510.0          2.0                     9.0
2017-08-14  330.975006         445.0          2.0                    14.0
2017-08-15  449.227997         522.0          6.0                     6.0

                                                                               \
store_nbr
family         POULTRY PREPARED FOODS      PRODUCE SCHOOL AND OFFICE SUPPLIES
date
2017-01-01    0.000000       0.000000     0.000000                        0.0
2017-01-02  843.596008     115.188995  3136.895996                        1.0
2017-01-03  714.659973     133.039001  3229.558105                        1.0
2017-01-04  536.830017      75.201004  1491.416992                        7.0
2017-01-05  414.100006     113.698997  1566.821045                        1.0
...                ...            ...          ...                        ...
2017-08-11  525.223999     112.099998  1453.078003                      140.0
2017-08-12  383.386993     129.903992  1419.264038                      138.0
2017-08-13  412.458008     105.168999  1693.607056                      200.0
2017-08-14  283.428986     114.120003  1348.425049                      182.0
2017-08-15  438.132996     154.552994  2419.729004                      121.0


store_nbr
family        SEAFOOD
date
2017-01-01   0.000000
2017-01-02  23.000000
2017-01-03  14.000000
2017-01-04   0.000000
2017-01-05  17.000000
...               ...
2017-08-11  23.830999
2017-08-12  16.859001
2017-08-13  20.000000
2017-08-14  17.000000
2017-08-15  16.000000

[227 rows x 1782 columns]

# Create training data

In [6]:
fourier = CalendarFourier(freq='M', order=4)
dp = DeterministicProcess(
    index=y.index,
    constant=True,
    order=1,
    seasonal=True,
    additional_terms=[fourier],
    drop=True,
)
X = dp.in_sample()
X['NewYear'] = (X.index.dayofyear == 1)

In [7]:
X

,const,trend,"s(2,7)","s(3,7)","s(4,7)","s(5,7)","s(6,7)","s(7,7)","sin(1,freq=M)","cos(1,freq=M)","sin(2,freq=M)","cos(2,freq=M)","sin(3,freq=M)","cos(3,freq=M)","sin(4,freq=M)","cos(4,freq=M)",NewYear
date,,,,,,,,,,,,,,,,,
2017-01-01,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,True
2017-01-02,1.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.201299,0.979530,0.394356,0.918958,0.571268,0.820763,0.724793,0.688967,False
2017-01-03,1.0,3.0,0.0,1.0,0.0,0.0,0.0,0.0,0.394356,0.918958,0.724793,0.688967,0.937752,0.347305,0.998717,-0.050649,False
2017-01-04,1.0,4.0,0.0,0.0,1.0,0.0,0.0,0.0,0.571268,0.820763,0.937752,0.347305,0.968077,-0.250653,0.651372,-0.758758,False
2017-01-05,1.0,5.0,0.0,0.0,0.0,1.0,0.0,0.0,0.724793,0.688967,0.998717,-0.050649,0.651372,-0.758758,-0.101168,-0.994869,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-08-11,1.0,223.0,0.0,0.0,0.0,0.0,1.0,0.0,0.897805,-0.440394,-0.790776,-0.612106,-0.201299,0.979530,0.968077,-0.250653,False
2017-08-12,1.0,224.0,0.0,0.0,0.0,0.0,0.0,1.0,0.790776,-0.612106,-0.968077,-0.250653,0.394356,0.918958,0.485302,-0.874347,False
2017-08-13,1.0,225.0,0.0,0.0,0.0,0.0,0.0,0.0,0.651372,-0.758758,-0.988468,0.151428,0.848644,0.528964,-0.299363,-0.954139,False
2017-08-14,1.0,226.0,1.0,0.0,0.0,0.0,0.0,0.0,0.485302,-0.874347,-0.848644,0.528964,0.998717,-0.050649,-0.897805,-0.440394,False
2017-08-15,1.0,227.0,0.0,1.0,0.0,0.0,0.0,0.0,0.299363,-0.954139,-0.571268,0.820763,0.790776,-0.612106,-0.937752,0.347305,False

# Linear Regression Model

In [8]:
# Simply using Ridge will improve the score

#model = Ridge(fit_intercept=True, solver='auto', alpha=0.5, normalize=True)
model = LinearRegression(fit_intercept=False)
model.fit(X, y)
y_pred = pd.DataFrame(model.predict(X), index=X.index, columns=y.columns)

In [9]:
y_pred.head()

                   sales                                                      \
store_nbr              1
family        AUTOMOTIVE BABY CARE        BEAUTY     BEVERAGES         BOOKS
date
2017-01-01  2.775558e-14       0.0  2.131628e-14 -1.364242e-12  1.221245e-15
2017-01-02  4.158065e+00       0.0  3.693728e+00  2.438526e+03  6.524888e-01
2017-01-03  4.019103e+00       0.0  3.790063e+00  2.556636e+03  9.822520e-01
2017-01-04  4.086815e+00       0.0  3.626226e+00  2.722500e+03  1.070364e+00
2017-01-05  3.927327e+00       0.0  3.109574e+00  2.342817e+03  7.886527e-01

                                                                    \
store_nbr
family      BREAD/BAKERY   CELEBRATION      CLEANING         DAIRY
date
2017-01-01  5.968559e-13  4.440892e-15  1.080025e-12  1.080025e-12
2017-01-02  4.339072e+02  1.278250e+01  7.314578e+02  8.363691e+02
2017-01-03  4.272647e+02  1.496032e+01  8.624653e+02  8.416939e+02
2017-01-04  5.002280e+02  1.550328e+01  9.660105e+02  9.806785e+02
2017-01-05  4.429722e+02  1.901495e+01  7.928288e+02  8.212025e+02

                          ...                                            \
store_nbr                 ...             9
family              DELI  ...     MAGAZINES         MEATS PERSONAL CARE
date                      ...
2017-01-01  2.557954e-13  ...  3.730349e-14  3.410605e-13 -9.094947e-13
2017-01-02  1.590167e+02  ...  3.372874e+00  5.205468e+02  8.060135e+02
2017-01-03  1.538898e+02  ...  2.618076e+00  4.814580e+02  7.538661e+02
2017-01-04  1.578011e+02  ...  2.058240e+00  4.258345e+02  6.297048e+02
2017-01-05  1.313682e+02  ...  1.693960e+00  5.888703e+02  5.486101e+02

                                                                               \
store_nbr
family      PET SUPPLIES PLAYERS AND ELECTRONICS       POULTRY PREPARED FOODS
date
2017-01-01  1.065814e-14            2.842171e-14  1.932676e-12  -1.136868e-13
2017-01-02  9.774855e+00            1.951512e+01  5.960566e+02   1.351610e+02
2017-01-03  8.359401e+00            1.800615e+01  5.495394e+02   1.304207e+02
2017-01-04  8.577979e+00            1.546256e+01  4.735746e+02   1.162081e+02
2017-01-05  5.928875e+00            1.401548e+01  4.097657e+02   1.107939e+02


store_nbr
family           PRODUCE SCHOOL AND OFFICE SUPPLIES       SEAFOOD
date
2017-01-01  2.273737e-12               1.314504e-13  8.526513e-14
2017-01-02  2.030560e+03              -6.284309e+00  1.908638e+01
2017-01-03  2.799504e+03               1.054938e+00  1.826387e+01
2017-01-04  1.612567e+03              -4.966515e+00  1.547805e+01
2017-01-05  1.496643e+03              -4.043700e+00  1.342527e+01

[5 rows x 1782 columns]

# Create features for test set

In [10]:
X_test = dp.out_of_sample(steps=16)
X_test.index.name = 'date'
X_test['NewYear'] = (X_test.index.dayofyear == 1)

# Submission File

In [11]:
y_submit = pd.DataFrame(model.predict(X_test), index=X_test.index, columns=y.columns)
y_submit = y_submit.stack(['store_nbr', 'family'])
y_submit = y_submit.join(df_test.id).reindex(columns=['id', 'sales'])
y_submit.to_csv('submission.csv', index=False)
y_submit

                                                      id        sales
date       store_nbr family
2017-08-16 1         AUTOMOTIVE                  3000888     4.274030
                     BABY CARE                   3000889     0.000000
                     BEAUTY                      3000890     3.495530
                     BEVERAGES                   3000891  2414.541711
                     BOOKS                       3000892     0.438314
...                                                  ...          ...
2017-08-31 9         POULTRY                     3029395   372.417153
                     PREPARED FOODS              3029396   107.843530
                     PRODUCE                     3029397  1273.316507
                     SCHOOL AND OFFICE SUPPLIES  3029398    44.945937
                     SEAFOOD                     3029399    18.946715

[28512 rows x 2 columns]